{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class = "container-fluid padding">
            <div>
                <h2>Shipping Information</h2>
            </div>
    </div>
    <hr>
<!--
<ul class="nav nav-pills nav-st">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Menu 1</a></li>
  <li><a href="#">Menu 2</a></li>
  <li><a href="#">Menu 3</a></li>
</ul>
-->
    <form method="post" name="contactform">
    {% csrf_token %}
    <fieldset>
        {{ contactform|crispy }}
        <input type="submit" value="Submit" class="saveinfo">
    </fieldset>
    </form>
    <a class="contact-next" href="{% url "checkout-payment" %}">Go to payment info</a>
{% endblock %}