{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class = "container-fluid padding">
            <div>
                <h2>Shipping Information</h2>
            </div>
    </div>
    <hr>

    <div class = "saveinfo">
        <form method="post" name="contactform">
        {% csrf_token %}
        <fieldset>
            {{ contactform|crispy }}
            <button class="btn btn-primary">
                <a type="submit" class = "checkout">Submit</a>
            </button>
        </fieldset>
        </form>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary">
            <a class = "checkout" href="{% url "cart-index" %}">Previous Page</a>
        </button>
        <button type="button" class="btn btn-success">
            <a class = "checkout" href="{% url "checkout-payment" %}">Payment Step</a>
        </button>
    </div>

{% endblock %}