{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class = "container-fluid padding">
            <div>
                <h2>Shipping Information</h2>
            </div>
    </div>
    <hr>

    <div class = "saveinfo">
        <form method="post" name="contactform">
        {% csrf_token %}
        <fieldset>
            {{ contactform|crispy }}
            <button class="btn btn-primary">
                <a type="submit" class = "checkout">Submit</a>
            </button>
        </fieldset>
        </form>
    </div>


    <ul class="pager">
        <li class="next"><a href="{% url "checkout-payment" %}">Go to payment info</a></li>
    </ul>

{% endblock %}