{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="cart">
        <h2>Payment Information</h2>
    </div>
    <hr>
<!--
<ul class="nav nav-pills nav-st">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Menu 1</a></li>
  <li><a href="#">Menu 2</a></li>
  <li><a href="#">Menu 3</a></li>
</ul> comment
-->
    <form method="post" name="paymentform">
        {% csrf_token %}
        <fieldset>
            {{ paymentform|crispy }}
            <button class="btn btn-primary saveinfo">
                <a type="submit" class = "checkout">Submit</a>
            </button>
        </fieldset>
    </form>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary">
            <a class = "checkout" href="{% url "checkout-contact" %}">Previous Page</a>
        </button>
        <button type="button" class="btn btn-success">
            <a class = "checkout" href="{% url "checkout-review" %}">Review Step</a>
        </button>
    </div>

{% endblock %}