{% extends "base.html" %}
{% block content %}

    <div class = "container-fluid padding">
            <div>
                <h2>Review</h2>
            </div>
    </div>
    <hr>

        {% for cartitem in cart %}
            <p>{{ cartitem.product.name }}</p><p>........{{ cartitem.product.price }}</p>
            <!--{% include 'cart/single_cart_item.html' with cartitem=cartitem %}-->
        {% endfor %}

    {% if not_filled == True %}
        <p>You have not completed filling out your contact information or payment information. Please complete that before reviewing your order</p>

    {% elif not_filled == False %}
        <p>Total price is: {{ total_sum }} kr.</p>
        <h4>{{ name }}</h4>
        <h4>{{ street }} {{ house_num }}</h4>
        <h4>{{ zip }}</h4>
        <h4>{{ city }}</h4>
        <h4>{{ country }}</h4>
        <h4>{{ cardholder }}</h4>
        <h4>Ends with: **** **** **** {{ card }}</h4>
        <h4>{{ exp_date }}</h4>
        <h4>CVC/CVV: ***</h4>

    {% endif %}

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary">
            <a class = "checkout" href="{% url "checkout-payment" %}">Go Back</a>
        </button>
        {% if not_filled == False %}
            <button type="button" class="btn btn-success">
                <a class = "checkout" href="{% url "checkout-confirm" %}">Review Step</a>
            </button>
        {% endif %}
    </div>

{% endblock %}