{% extends "base.html" %}
{% block content %}

    <div class = "container-fluid padding title">
            <h2>Review</h2>
    </div>

    <hr>
        <h3>The products you are buying are:</h3>
        {% for cartitem in cart %}
            <h4>{{ cartitem.product.name }}........{{ cartitem.product.price }} kr.</h4>
        {% endfor %}

    <!-- If forms have not been filled, display "not filled" text -->
    {% if not_filled == True %}
        <p>You have not completed filling out your contact information or payment information. Please complete that before reviewing your order</p>

    <!-- If both forms have been filled, let user review data -->
    {% elif not_filled == False %}
        <h4>Total price is: {{ total_sum }} kr.</h4>
        <h3><b>Contact Information</b></h3>
        <h4><b>Full name: </b>{{ name }}</h4>
        <h4>Address: </b>{{ street }} {{ house_num }}</h4>
        <h4><b>Zip-code: </b>{{ zip }}</h4>
        <h4><b>City: </b>{{ city }}</h4>
        <h4><b>Country: </b>{{ country }}</h4>
        <h3><b>Billing Information</b></h3>
        <h4><b>Cardholder name: </b>{{ cardholder }}</h4>
        <h4><b>Ends with:</b> **** **** **** {{ card }}</h4>
        <h4><b>Expiration date: </b>{{ exp_date }}</h4>
        <h4><b>CVC/CVV: </b>***</h4>

    {% endif %}

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary">
            <a class = "checkout" href="{% url "checkout-payment" %}">Go Back</a>
        </button>

    <!-- User cant confirm order if he cant review it -->
        {% if not_filled == False %}
            <button type="button" class="btn btn-success">
                <a class = "checkout" href="{% url "checkout-confirm" %}">Confirm order</a>
            </button>
        {% endif %}
    </div>

{% endblock %}