{% extends "base.html" %}

{% block content %}
<a id="review-prev" href="{% url "checkout-payment" %}">Go back</a>

<h4>Wow so much order</h4>
        {% for cart in carts %}
            <p>{{ cart.product.name }}</p><p>........{{ cart.product.price }}</p>
            <!--{% include 'cart/order_summary.html' with cart=cart %}-->
        {% endfor %}
    <p>Total price is: {{ total_sum }} kr.</p>
    <h4>{{ name }}</h4>
    <h4>{{ street }} {{ house_num }}</h4>
    <h4>{{ zip }}</h4>
    <h4>{{ city }}</h4>
    <h4>{{ country }}</h4>
    <h4>{{ cardholder }}</h4>
    <h4>Ends with: **** **** **** {{ card }}</h4>
    <h4>{{ exp_date }}</h4>
    <a href="{% url "checkout-confirm" %}">Confirm</a>
{% endblock %}