{% extends "base.html" %}
{% block content %}

    <div class="details">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                    <img class="d-block w-100 website-img" src="{{ game.productimage_set.all.0.image }}" alt="First slide">
              </div>
            {% if game.productimage_set.all|length > 1 %}
                {% for game_image in game.productimage_set.all|slice:"1:" %}
                    <div class="carousel-item">
                      <img class="d-block w-100 website-img" src="{{ game_image.image }}" alt="Other slides">
                    </div>
                {% endfor %}
            {% endif %}
          </div>
        <h1>{{ game.name }}</h1>
        <p>{{ game.description }}</p>
        <p>Publisher: {{ game.manufacturer.name }}</p>
        <p>Price: {{ game.price }}</p>
        <p>Left in stock: {{ game.leftInStock }}</p>
        <p>Release year: {{ game.releaseYear }}</p>
        <p>Console: {{ game.gameConsole }}</p>
        <a href="#" class="addtocart">Add to cart</a>
        </div>
    </div>
{% endblock %}