{% extends "base.html" %}

{% block content %}


    <div class = "games container-fluid padding", id = "gamestitle">
        <div class = "row welcome text-center"></div>
            <div class = "col-12">
            <h1>Games</h1>
            </div>
        </div>
        <hr>

    <div class="dropdown">
        <button class="dropbtn">Order by</button>
        <div class="dropdown-content">
            <a href="{% url "games-index" %}">A-Z</a>
            <a href="{% url "games-filter_desc" %}">Z-A</a>
            <a href="{% url "games-lowest_highest" %}"><b>Price:</b> Lowest-Highest</a>
            <a href="{% url "games-highest_lowest" %}"><b>Price:</b> Highest-Lowest</a>
        </div>
    </div>

    <div class = "container-fluid padding" id = "gamesdiv">
        <div class = "row padding">
            {% for game in games %}
                {% include 'games/single_game.html' with game=game %}
            {% endfor %}
        </div>
    </div>



{% endblock %}