<div class = "col-md-4 cards">
    <div class = "card">
        <a href="/games/{{ game.id }}" class = "btn btn-outline-secondary">
            <img class="card-img-top website-img" src="{{ game.productimage_set.first.image }}" />
        </a>
        <div class = "card-body">
            <h4 class = "card-title">{{ game.name }}</h4>
            <p class = "card-text">{{ game.price }} kr.</p>
            <div class="content-section webpage">
            <form method="POST" action="/cart/add-to-cart/{{ game.id }}/">
            {% csrf_token %}
                <input type="number" name = "quantity" value="1" min="1" max="{{ game.leftInStock }}" step="1"/>
                <button class="addtocart" type = "submit">Add to cart</button>
            </form>
            </div>
        </div>
    </div>
</div>