{% load static %}

<footer>
<div class="footer container-fluid padding">
    <div class="row text-center">
        <div class="col-lg-6">
            <h4>About Us</h4>
            <hr class="light">
            <p>Phone number: 123-1234</p>
            <p>Email address: captain@console.com</p>
            <p>Address: Street 22, 666</p>
        </div>
        <div class="col-lg-6">
            <h4>Opening Hours</h4>
            <hr class="light">
            <p>Weekdays: 9:00 - 17:00</p>
            <p>Weekends: 12:00 - 16:00</p>

        </div>
    </div>
</div>
</footer>