{% load static %}

<footer>
<div class="footer container-fluid padding">
    <div class="row text-center">
        <div class="contact col-lg-6">
            <h4>About Us</h4>
            <hr class="light">
            <p>Phone number: 581-2345</p>
            <p>Email: <a href="mailto:info.captainconsole@gmail.com">info.captainconsole@gmail.com</a></p>
            <p>Address: Menntavegur 1, 102</p>
        </div>
        <div class="opening-hours col-lg-6">
            <h4>Opening Hours</h4>
            <hr class="light">
            <p>Weekdays: 9:00 - 17:00</p>
            <p>Weekends: 12:00 - 16:00</p>

        </div>
    </div>
</div>
</footer>