{% extends "base.html" %}
{% block content %}
    <div class = "login webpage">
        <h2>Log in</h2>
        <div class="loginForm">
            <form method="POST" action="">
                {% csrf_token %}
                <div id="loginUsernameField">
					<input type="text" name="username" placeholder="Username..." class="login">
                </div>

                <div id="loginPasswordField" >
					<input type="text" name="password" placeholder="Password..." class="login">
                </div>

                <input type="submit" name="Log in">

                {{ form.errors }}

                {% for messgae in messages %}
                    <p>{{ message }}</p>
                {% endfor %}

                 <p>Don't have an account? <a href="{% url "signup-index" %}" class="singupRedirectText">Sign Up</a></p>


            </form>

        </div>



{% endblock %}