{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section webpage">
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class = "border-bottom mb-4">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info addtocart" type = "submit">Log In</button>
        </div>
    </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class = "ml-2 loginRedirectLink" href="{% url "users-signup" %}">Sign Up Now</a>
            </small>
        </div>
</div>

        {{ form.errors }}

    <hr>

    <!--
    <div class = "login webpage">
        <h2>Log in</h2>
        <div class="loginForm">
            <form method="POST" action="">
                {% csrf_token %}
                <div id="loginUsernameField">
					<input type="text" name="username" placeholder="Username..." class="login">
                </div>

                <div id="loginPasswordField" >
					<input type="password" name="password" placeholder="Password..." class="login">
                </div>

                <input type="submit" name="Log in">

                {{ form.errors }}

                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}

                 <p>Don't have an account? <a href="{% url "users-signup" %}" class="singupRedirectText">Sign Up</a></p>


            </form>
    -->
{% endblock %}