{% extends "base.html" %}
{% block content %}

    <div class="details">
    {% for accessory_image in accessory.productimage_set.all %}
        <img src = {{ accessory_image.image }} class="website-img">
    {% endfor %}
    <h1>{{ accessory.name }}</h1>
    <p>{{ accessory.description }}</p>
    <p>Manufacturer: {{ accessory.manufacturer.name }}</p>
    <p>{{ accessory.price }}</p>
    <p>Left in stock: {{ accessory.leftInStock }}</p>
    <a href=# class = "btn btn-secondary">Add to cart</a>

    </div>

{% endblock %}