{% extends "base.html" %}

{% block content %}
    <div class = "accessories container-fluid padding", id = "accessoriestitle">
        <div class = "row welcome text-center"></div>
            <div class = "col-12">
            <h1>Accessories</h1>
            </div>
        </div>
        <hr>

    <div class = "container-fluid padding" id = "accessoriesdiv">
    <div class="w3-dropdown-hover filterby">
      <button class="w3-button">Filter By</button>
      <div class="w3-dropdown-content w3-bar-block w3-border">
        <a class="w3-bar-item w3-button" href="{% url "accessories-index" %}">A-Z</a>
        <a class="w3-bar-item w3-button" href="{% url "accessories-filter_desc" %}">Z-A</a>
        <a class="w3-bar-item w3-button" href="{% url "accessories-lowest_highest" %}"><b>Price:</b> Lowest-Highest</a>
        <a class="w3-bar-item w3-button" href="{% url "accessories-highest_lowest" %}"><b>Price:</b> Highest-Lowest</a>
      </div>
    </div>
        <div class = "row padding">
            {% for accessory in accessories %}
                {% include 'accessories/single_accessory.html' with accessory=accessory %}
            {% endfor %}
        </div>
    </div>

{% endblock %}