{% extends "base.html" %}

{% block content %}
    <div class = "accessories container-fluid padding", id = "accessoriestitle">
        <div class = "row welcome text-center"></div>
            <div class = "col-12">
            <h1>Accessories</h1>
            </div>
        </div>
        <hr>

    <div class="dropdown">
        <button class="dropbtn">Order by</button>
        <div class="dropdown-content">
            <a href="{% url "accessories-index" %}">A-Z</a>
            <a href="{% url "accessories-filter_desc" %}">Z-A</a>
            <a href="{% url "accessories-lowest_highest" %}"><b>Price:</b> Lowest-Highest</a>
            <a href="{% url "accessories-highest_lowest" %}"><b>Price:</b> Highest-Lowest</a>
        </div>
    </div>

    <div class = "container-fluid padding" id = "accessoriesdiv">
        <div class = "row padding">
            {% for accessory in accessories %}
                {% include 'accessories/single_accessory.html' with accessory=accessory %}
            {% endfor %}
        </div>
    </div>

{% endblock %}