<div class = "col-md-4">
    <div class = "card">
        <img class="card-img-top website-img" src="{{ accessory.productimage_set.first.image }}" />
        <div class = "card-body">
            <h4 class = "card-title">{{ accessory.name }}</h4>
            <p class = "card-text">{{ accessory.price }} kr.</p>
            <a href="/accessories/{{ accessory.id }}" class = "btn btn-outline-secondary">Click here to view</a>
            <a href=# class = "btn btn-secondary">Add to cart</a>
        </div>
    </div>
</div>