
{% extends "frontpage_base.html" %}
{% load static %}
{% block content %}

<!--- Image Slider -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner">
        <div class="item active">
             <img src="{% static "images/supermariobg.png" %}">
            <div class="carousel-caption">
                <h1 class="display-2">IT'S A ME MARIO!</h1>
                <button type="button" class="shop-now" class="btn btn-primary btn-lg">
                    <a href="{% url "all-products" %}">SHOP NOW</a>
                </button>
            </div>
        </div>
        <div class="item">
            <img src="{% static "images/zeldabg.png" %}">
            <div class="carousel-caption">
                <h1 class="display-2">PRESS THE LINK!</h1>
                <button type="button" class="shop-now" class="btn btn-primary btn-lg">
                    <a href="{% url "all-products" %}">SHOP NOW</a>
                </button>
            </div>
        </div>
        <div class="item">
             <img src="{% static "images/pacman.jpg" %}">
            <div class="carousel-caption">
                <h1 class="display-2">DON'T GHOST US!</h1>
                <button type="button" class="shop-now" class="btn btn-primary btn-lg">
                    <a href="{% url "all-products" %}">SHOP NOW</a>
                </button>
            </div>
        </div>
    </div>
</div>

<!--- Trending --->

    <div class = "container frontpage">
        <div class = "container-fluid padding">
            <div class="col-12">
                <div class="recentproduct">
                    <div class="recenttext"><h1><b>Recently Added Games</b></h1></div>
                    <hr>
                    {% for game in games|slice:"0:3" %}
                        {% include 'games/single_game.html' with game=game %}
                    {% endfor %}

                    <a class = "seemore" href="{% url "games-index" %}"> Go To All Games... </a>

            </div>
            <div class="recentproduct" id = "recent">
                <div class="recenttext"><h1><b>Recently Added Consoles</b></h1></div>
                <hr>
                {% for console in consoles|slice:"0:3" %}
                    {% include 'consoles/single_console.html' with console=console %}
                {% endfor %}
                <a class = "seemore" href="{% url "consoles-index" %}"> Go To All Consoles... </a>
            </div>
            <!--- Recently viewed --->
            {% if user.is_authenticated %}
                <div class="recentproduct">
                    <div class="recenttext"><h1><b>Recently viewed</b></h1></div>
                    <hr>
                    {% for productview in productviews|slice:"0:3" %}

                        {% for temp_game in games %}
                            {% if productview.product.name == temp_game.name %}
                                {% include 'games/single_game.html' with game=productview.product %}
                            {% endif %}
                        {% endfor %}

                        {% for temp_console in consoles %}
                            {% if productview.product.name == temp_console.name %}
                                {% include 'consoles/single_console.html' with console=productview.product %}
                            {% endif %}
                        {% endfor %}

                        {% for temp_accessory in accessories %}
                            {% if productview.product.name == temp_accessory.name %}
                                {% include 'accessories/single_accessory.html' with accessory=productview.product %}
                            {% endif %}
                        {% endfor %}

                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    </div>

<!--- Recently viewed --->


{% endblock %}