{% extends "frontpage_base.html" %}
{% block content %}

<!--- Image Slider -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner">
        <div class="item active">
            <img src="static/images/supermariobg.png">
            <div class="carousel-caption">
                <h1 class="display-2">IT'S A ME MARIO!</h1>
                <button type="button" id="shop-now" class="btn btn-primary btn-lg">SHOP NOW</button>
            </div>
        </div>
        <div class="item">
            <img src="static/images/zeldabg.png">
            <div class="carousel-caption">
                <h1 class="display-2">PRESS THE LINK!</h1>
                <button type="button" id="shop-now" class="btn btn-primary btn-lg">SHOP NOW</button>
            </div>
        </div>
        <div class="item">
            <img src="static/images/crashbandicootbg.jpg">
            <div class="carousel-caption">
                <h1 class="display-2">WARP INTO THE WORLD OF RETRO GAMING!</h1>
                <button type="button" id="shop-now" class="btn btn-primary btn-lg">SHOP NOW</button>
            </div>
        </div>
    </div>
</div>


<!--- Trending --->

<div class = "trending container-fluid padding" id="trending">
        <div class = "row welcome text-center"></div>
            <div class = "col-12">
            <h1><b>Trending now...<b></b></h1>
            </div>
        </div>
        <hr>


{% endblock %}