{% extends "base.html" %}
{% block content %}
<div class="content-section webpage">
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class = "border-bottom mb-4">Join today!</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info addtocart" type = "submit">Sign up</button>
        </div>
    </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class = "ml-2 loginRedirectLink" href="{% url "users-login" %}">Log in</a>
            </small>
        </div>
</div>

        {{ form.errors }}

    <hr>
    <!--- Footer --->
{% endblock %}