.website-img {
    height: 250px;
    width: 250px;
    border: 2px solid black;
    object-fit: contain;
}

#logo {
    max-width: 100%;
    object-fit: contain;
    max-height: 10%;
}

#logodiv {
    width:10%;
    height: 5%;
}

.navbar-collapse{
    background-color: #9EA8F9;
    width: 100%;
    padding: 1em;
    font-size: 1.5em;
}

.all-games {
    background-color: snow;
}

.one-game {
    border: 2px solid black;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    padding-bottom: .7em;
}

.btn-primary {
    background-color: #E6E6FA;
}

.col-md-4 {
    display: inline-block;
}

footer {
    background-color: #9EA8F9;
    padding-top: 2rem;
}

