
.website-img {
    height: 250px;
    width: 250px;
    object-fit: contain;
}

#logo {
    width: 60px;
    height: 30px;
}

#header {
    margin: 0;
    background-color: #9EA8F9;
}

#header a {
    color: #282828;
}

#left-menu {
    font-size: 1.5em;
}

.all-games {
    background-color: snow;
}

.one-game {
    border: 2px solid black;
}

#myCarousel img {
    height: 40em;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
    font-family: 'Rubik Mono One', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    color: #282828;
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 1px 1px 8px #ffff;
    padding-bottom: .7em;
}

#shop-now {
    background-color: #9EA8F9;
    color: #282828;
}

#shop-now:hover {
    background-color: mediumpurple;
}

.col-md-4 {
    display: inline-block;
}

footer {
    background-color: #9EA8F9;
    padding-top: 2rem;
    margin-top: 5rem;
}

#mycontent {
    width: 100% !important;;
    padding: 0 !important;;
    margin: 0 !important;
}

#top {
    margin: 0;
}

 #gamestitle, #consolestitle, #accessoriestitle, #trending {
     font-family: 'Rubik Mono One', sans-serif;
 }

#gamesdiv, #consolesdiv, #accessoriesdiv, #gamestitle, #consolestitle, #accessoriestitle {
    margin-left: 12%;
    margin-right: 12%;
}

.details, #details {
    padding-top: 3%;
    padding-left: 12%;
    padding-right: 12%;
}

/*fyrir header*/
