.consoles {
    border: solid 2px rgba(155, 155, 155, .5);
}

.games {
    border: solid 2px rgba(155, 155, 155, .5);
}

.website-img {
    height: 300px;
    width: 300px;
    border: 2px solid black;
}

.accessories {
    border: solid 2px rgba(155, 155, 155, .5);
}

.navbar-header {
    background-color: aquamarine;
    border: solid 2px rgba(155, 155, 155, .5);
}

.all-games {
    background-color: snow;
}

.one-game {
    border: 2px solid black;
}

.accessory-img {
    height: 100px;
    width: 100px;
}