.website-img {
    height: 250px;
    width: 250px;
    border: 2px solid black;
    object-fit: contain;
}

#logo {
    max-width: 100%;
    object-fit: contain;
    max-height: 10%;
}

#logodiv {
    width:10%;
    height: 5%;
}

.container-fluid{
    padding: 2em;
}

.all-games {
    background-color: snow;
}

.one-game {
    border: 2px solid black;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.col-md-4 {
    display: inline-block;
}
