.row, .navbar-collapse, .collapse, .col-lg-12 {
    width: 100%;
}

.website-img {
    height: 12em;
    width: 12em;
    object-fit: contain;
}

#left-menu {
    font-size: 1.1em;
}

#logo {
    max-width:55px;
    max-height: 25px;
    padding-bottom: 2px;
}

#header {
    margin: 0;
    background-color: #9EA8F9;
}

#header a {
    color: #282828;
}

#myCarousel img {
    height: 40em;
}

.frontpage {
    margin-top: 1em;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    font-family: 'Rubik Mono One', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    color: black;
    font-size: 300%;
    text-transform: uppercase;
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    padding-bottom: .7em;
}

.shop-now a {
    font-size: 1.5em;
    color: #282828;
}

.shop-now {
    background-color: white;
}

.col-md-4 {
    display: inline-block;
    padding: 0;
}

footer {
    background-color: #9EA8F9;
    padding-top: 3rem;
    padding-bottom: 2em;
    margin-top: 5rem;
}

#top {
    margin: 0;
}

 .title {
     font-family: 'Rubik Mono One', sans-serif !important;
 }

.details {
    padding-top: 3%;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 1.1em;
}

.addtocart {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:27px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 19px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.addtocart:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
    color:#ffffff;
}
.addtocart:active {
	position:relative;
	top:1px;
}

.addtocart:link, .addtocart:visited, .addtocart:active {
    text-decoration: none;
}

.webpage {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
}

#filterby {
    background-color: white;
    border: solid;
    padding: 5px;
}

#wholefilter{
    margin-right: 30px;
    margin-bottom: 20px;
    position: relative;
    float: right;
}

.image_div {
    height: 10em;
    width: 10em;
    margin-right: 2em;
}

.account-img {
    width:100%;
    margin-right: 2em;
    height:100%;
}

.container-fluid {
    padding: 0;
}

.glyphicon-shopping-cart {
    font-size: 1.4em;
}

.glyphicon-shopping-cart:hover {
    text-shadow: 1px 1px 2px #282828;
}

#cart {
    background-color: #9EA8F9;
}

.dropdown {
    font-size: 1.1em;
}

.carousel-inner .carousel-item .d-block {
    height: 250px;
    width: 250px;
    object-fit: contain;
    border: 2px lightgrey;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(100%);
}

.details h2, .details h3 {
    text-align: center;
}

.description {
    width: 47%;
}

.moredetails {
    width: 30%
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn:hover {
    text-shadow: 1px 1px 2px #282828;
}

.dropbtn {
    background-color: #9EA8F9;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: solid;
    z-index: 1;
    font-size: .8em;
    min-width: 115px;
}

.dropdown-content a {
    color: #282828;
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.seemore {
    display: inline-block;
    margin-top: 10em;
    color: #2479ff;
    font-size: 1.2em;
    text-decoration: none;
    margin-top: 1em;
}

.recenttext {
    font-family: 'Rubik Mono One', sans-serif;
}

.recentproduct {
    margin-bottom: 8rem;
}

.item {
    margin-bottom: 2%;
}

.subcategory {
    text-transform: uppercase;
    float:left;
    height: auto;
    margin-left: 20px;
    align-content: end;
}

.btn-success a {
    color: white;
}



.media {
    margin-bottom: 2rem;
}
