.consoles, .games, .accessories {
    border: solid 2px rgba(155, 155, 155, .5);
}

.website-img {
    height: 250px;
    width: 250px;
    border: 2px solid black;
}

.navbar-header {
    background-color: aquamarine;
    border: solid 2px rgba(155, 155, 155, .5);
}

.all-games {
    background-color: snow;
}

.one-game {
    border: 2px solid black;
}