
.website-img {
    height: 250px;
    width: 250px;
    object-fit: contain;
}

#header {
    background-color: #9EA8F9;
    padding-bottom: 4rem;
    font-size: 1.5rem;
}

#header a {
    font-family: 'Rubik Mono One', sans-serif;
    color:	#282828;
}

#logo {
    max-width: 100%;
    object-fit: contain;
    max-height: 10%;
}

#logodiv {
    width:10%;
    height: 5%;
}

.navbar-collapse {
    width: 100%;
    padding: 1em;
    font-size: 1.5em;
}

.all-games {
    background-color: snow;
}

.one-game {
    border: 2px solid black;
}

#myCarousel img {
    height: 40em;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
    font-family: 'Rubik Mono One', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    color: #9EA8F9;
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    padding-bottom: .7em;
}

#shop-now {
    background-color: #9EA8F9;
    color: #282828;
}

#shop-now:hover {
    background-color: mediumpurple;
}

.col-md-4 {
    display: inline-block;
}

footer {
    background-color: #9EA8F9;
    padding-top: 2rem;
    margin-top: 5rem;
}

#mycontent {
    width: 100%;
    padding: 0;
    margin: 0;
}

#top {
    margin: 0;
}

 #gamestitle, #consolestitle, #accessoriestitle, #trending {
     font-family: 'Rubik Mono One', sans-serif;
 }

#gamesdiv, #consolesdiv, #accessoriesdiv, #gamestitle, #consolestitle, #accessoriestitle {
    margin-left: 12%;
    margin-right: 12%;
}

