.consoles {
    border: solid 2px rgba(155, 155, 155, .5);
}

.games {
    border: solid 2px rgba(155, 155, 155, .5);
}

.console-img {
    max-height: 200px;
    max-width: 200px;
    border: 1px solid black;
}

.accessories {
    border: solid 2px rgba(155, 155, 155, .5);
}

.navbar-header {
    background-color: aquamarine;
    border: solid 2px rgba(155, 155, 155, .5);
}

.all-games {
    background-color: snow;
}

.one-game {
    border: 2px solid black;
}

.accessory-img {
    height: 100px;
    width: 100px;
}