{% extends "base.html" %}
{% block content %}

    <div class = "container-fluid padding title">
            <div class = "col-12">
            <h1>{{ manufacturer }}</h1>
            </div>
        </div>
        <hr>

    <div class = "container-fluid padding">

    </div>
        <div class = "row padding">
            {% for console in consoles %}
                {% include 'consoles/single_console.html' with console=console %}
            {% endfor %}
        </div>
    </div>

{% endblock %}