{% extends "base.html" %}

{% block content %}
    <div class = "container-fluid padding title">
        <div class = "one_console row welcome text-center"></div>
            <div class = "col-12">
            <h1>Consoles</h1>
            </div>
            <hr>
        </div>

        <div class="subcategory"><h3>All Consoles</h3></div>
        <div class="dropdown" id="wholefilter">
            <button class="dropbtn" id="filterby"><b>Filter By:</b></button>
            <div class="dropdown-content">
                <a class="w3-bar-item w3-button" href="{% url "consoles-index" %}">A-Z</a>
                <a class="w3-bar-item w3-button" href="{% url "consoles-filter_desc" %}">Z-A</a>
                <a class="w3-bar-item w3-button" href="{% url "consoles-lowest_highest" %}"><b>Price:</b> Lowest-Highest</a>
                <a class="w3-bar-item w3-button" href="{% url "consoles-highest_lowest" %}"><b>Price:</b> Highest-Lowest</a>
            </div>
        </div>

        <div class = "row padding">
            {% for console in consoles %}
                {% include 'consoles/single_console.html' with console=console %}
            {% endfor %}
        </div>
    </div>

{% endblock %}