{% extends "base.html" %}

{% block content %}
    <div class = "consoles container-fluid padding", id = "consolestitle">
        <div class = "one_console row welcome text-center"></div>
            <div class = "col-12">
            <h1>Consoles</h1>
            </div>
        </div>
        <hr>

    <div class = "container-fluid padding" id = "consolesdiv">
    <div class="w3-dropdown-hover filterby">
      <button class="w3-button">Filter By</button>
      <div class="w3-dropdown-content w3-bar-block w3-border">
        <a class="w3-bar-item w3-button" href="{% url "consoles-index" %}">A-Z</a>
        <a class="w3-bar-item w3-button" href="{% url "consoles-filter_desc" %}">Z-A</a>
        <a class="w3-bar-item w3-button" href="{% url "consoles-lowest_highest" %}"><b>Price:</b> Lowest-Highest</a>
        <a class="w3-bar-item w3-button" href="{% url "consoles-highest_lowest" %}"><b>Price:</b> Highest-Lowest</a>
      </div>
    </div>
        <div class = "row padding">
            {% for console in consoles %}
                {% include 'consoles/single_console.html' with console=console %}
            {% endfor %}
        </div>
    </div>

{% endblock %}