<div class = "col-md-4 cards">
    <div class = "card">
        <a href="/consoles/{{ console.id }}" class = "btn btn-outline-secondary">
            <img class="card-img-top website-img" src="{{ console.productimage_set.first.image }}" />
        </a>
        <div class = "card-body">
            <h4 class = "card-title">{{ console.name }}</h4>
            {% if console.leftInStock == 0%}
                <p class = "card-text" id="sold-out-p">Sold out!</p>
            {% else %}
                <p class = "card-text">{{ console.price }} kr.</p>
            {% endif %}
            <form action="/consoles/{{ console.id }}">
                <button type="submit" class="btn btn-primary">See more</button>
            </form>
        </div>
    </div>
</div>