{% extends base.html %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#contactinfo">Contact Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#paymentinfo">Card Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#review">Review</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="contactinfo" role="tabpanel" aria-labelledby="contactinfo-tab">welcome to the contact info</div>
  <div class="tab-pane fade" id="paymentinfo" role="tabpanel" aria-labelledby="paymentinfo-tab">welcome to the payment info</div>
  <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">welcome to the review step</div>
</div>