{% extends "base.html" %}
{% block content %}

    <div class = "container-fluid padding title">
            <div class = "col-12">
            <h1>Cart</h1>
            </div>
        </div>
        <hr>

        {% for cartitem in cart %}
            {% include 'cart/single_cart_item.html' with cart=cartitem %}
        {% endfor %}

        <h4>Total price: {{ total_price }} kr.</h4>

        <div id="clear_cart">
            <a href="{% url "clear-cart" %}">Clear Cart</a>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-success"><a href="{% url "checkout-contact" %}">Checkout</a></button>
        </div>

    </div>

{% endblock %}