{% extends "base.html" %}
{% block content %}

    <div class = "container-fluid padding title">
            <div class = "col-12">
            <h1>Cart</h1>
            </div>
        </div>
        <hr>

        {% for cart in carts %}
            {% include 'cart/single_cart_item.html' with cart=cart%}
        {% endfor %}

        <div>
            <p>Total price is: {{ total_price }} kr.</p>
        </div>

        <div id="final_checkout_confirmation_button">
        </div>
        <a href="{% url "checkout-contact" %}">Checkout</a>
    </div>

{% endblock %}