<div class="card flex-row flex-wrap">
    <div class="card-header border-0">
        <img class = "website-img" src="{{ cartitem.product.productimage_set.first.image }}" alt="">
    </div>
    <div class="card-block px-2">
        <h4 class="card-title">{{ cartitem.product.name }}</h4>
        <p class="card-text">Quantity: {{ cartitem.quantity }}</p>
        <p class="card-text">Price: {{ cartitem.product.price }} kr.</p>
        <a type="submit" href="/cart/delete-item/{{cartitem.id}}/" class="btn btn-danger">Remove</a>
    </div>
    <div class="w-100"></div>
    <div class="card-footer w-100 text-muted">
    </div>
</div>